.dashboard-cards {
    width: 100%;
    max-width: 450px;

    @media screen and (min-width: 1100px) {
        max-width: 800px;
        height: 100%;
        max-height: 500px;
        margin-left: 20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: space-between;
    }
}

.card {
    background-color: var(--soft-orange-self-care);
    border-radius: 10px 10px 14px 14px;
    width: 100%;
    margin-top: 20px;

    .card-image-wrapper {
        position: relative;
        width: 100%;
        height: 40px;
        overflow: hidden;
        border-radius: 10px 10px 0 0;

        img {
            position: absolute;
            right: 1.5em;
            top: -0.5em;
        }
    }

    .card-content {
        background-color: var(--dark-blue);
        border-radius: 10px;
        padding: 1.5em;
        transition: 300ms ease-in-out;

        &:hover {
            cursor: pointer;
        }

        &-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: .5em;

            h2 {
                color: var(--pale-blue);
                font-size: 20px;
                font-weight: 400;
            }

            button {
                background-color: unset;
                border: none;
                transition: 300ms ease-in-out;

                &:hover {
                    cursor: pointer;
                }

                &:hover svg path {
                    fill: white;
                }
            }
        }

        &-numbers {
            display: flex;
            justify-content: space-between;
            align-items: center;

            p:first-child {
                font-size: 32px;
                font-weight: 300;
                color: var(--pale-blue);
            }

            p:last-child {
                font-size: 14px;
                font-weight: 300;
                color: var(--pale-blue);
            }
        }
    }

    @media screen and (min-width: 1100px) {
        max-width: 250px;
        margin-top: 0;
    
        .card-content {
            &-numbers {
                flex-direction: column;
                align-items: flex-start;

                p:first-child {
                    font-size: 42px;
                    padding: .3em 0;
                }
            }
        }
    }
}

.background-work { background-color: var(--light-red-work); }
.background-play { background-color: var(--soft-blue-play); }
.background-study { background-color: var(--light-red-study); }
.background-exercise { background-color: var(--lime-green-exercise); }
.background-social { background-color: var(--violet-social); }
.background-self-care { background-color: var(--soft-orange-self-care); }